<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
</head>
<body>
<div>
<h1 style="text-align:center">Fill in the details</h1>
<div ng-app="myApp" ng-controller="formCtrl" style="text-align:center; padding:5px">
  <form>
<h4>UserID  :  <input type="text" id="ID"></h4>
	<br>
<h4>Password  :  <input type="password" id="Pass"></h4>
	<br>
    <h4>Latitude  :  <input type="text" id="Latitude"></h4>
	<br>
    <h4>Longitude :  <input type="text" id="Longitude"></h4>
	<br>
	<h4>Area      :  <input type="text" id="Area"></h4>
	<br>
	<h4>Price      :  <input type="number" id="price"></h4>
	<br>
	<button type="submit">Add Data</button>
  </form>
</div>
</div>
</body>
</html>



