<main>
    
  <section class="section-1 one-view">
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 col-sm-6">
          <div class="section-1-detail">
            <div class="section-1-head">
              <h1>House Price Predicting Model</h1>
            </div>
            <div class="section-1-desc">
              <span>
                This is an attemp to create a House Price Predicting Model using Regression and Analytics to help user to predict price of the required house type.
              </span>
            </div>
            <div class="redirect-button">
              <button class="btn btn-lg bg-success" ui-sref="predict" >Use Predictor</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="section-1-img">
            <img src="src/assets/images/homepage_img.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </section>
    


  <section class="one-view section-4">
    <div class="container">
        
      <div class="section-head">
        <div class="section-title">
          <h1>What are we doing!</h1>
        </div>
      </div>
        
      <div class="features-card-list">
        <div class="row">
          
            <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/main_features1.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Data Analysis
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                 <!-- Text Here -->
                </span>
              </div>
            </div>
          </div>
            
            
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/main_features3.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Data Visualization
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  <!-- Text Here -->
                </span>
              </div>
            </div>
          </div>
            
            
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/main_features4.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Most Appropiate Solutions
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                 <!-- Text Here -->
                </span>
              </div>
            </div>
          </div>    
            
            
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img top-image">
                <img src="src/assets/images/main_features2.png" width="70px" height="80px">
              </div>
              <div class="section-card-title">
                <h3>
                  User Satisfaction
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  <!-- Text Here -->
                </span>
              </div>
            </div>
          </div>
            
            
          
            
            
        </div>
      </div>
    </div>
      
  </section> 
    
</main>
