<main>
  <section class="section-1 one-view">
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 col-sm-6">
          <div class="section-1-detail">
            <div class="section-1-head">
              <h1>House Prediction Model</h1>
            </div>
            <div class="section-1-desc">
              <span>
                Ceated a machine learning based model from a dataset so that it can help the seller to decide the selling price/rent of the house.
              </span>
            </div>
            <div class="redirect-button">
              <button class="btn btn-lg bg-success" ui-sref="predict" >Try Predictor</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="section-1-img">
            <img src="src/assets/images/homepage_img.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
